<div class="main">
    <div class="container">
        <div class="display-cards">
            <div class="cardtext1">
                <div class="head">
                    <div class="headicon">
                        <img src="\assets\house.webp">
                    </div>
                    <div class="headtext">
                        <div class="bhead">
                            <p><mark>REVO </mark>. HOME</p>
                        </div>
                        <div class="shead"><small>REAL ESTATE WILL NEVER BE THE SAME</small></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card1">
                        <div class="cardimg">
                            <img src="\assets\card1.jpg">
                        </div>
                        <div class="cardtext">
                            <div class="cardtextstep">Step 1:</div>
                            <div class="cardtexthead">
                                <h3>Post Your Property Add</h3>
                            </div>
                            <div class="cardtextpara"><small>Enter all details like locality name, amenities
                                    etc.along with aploading photos</small></div>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="cardimg">
                            <img src="\assets\card2.jpg">
                        </div>
                        <div class="cardtext">
                            <div class="cardtextstep">Step 2:</div>
                            <div class="cardtexthead">
                                <h3>Check Responses on Dashboard</h3>
                            </div>
                            <div class="cardtextpara"><small>Get access to Buyer/Tanent condact details & connect
                                    easily</small></div>
                        </div>
                    </div>
                    <div class="card3">
                        <div class="cardimg">
                            <img src="\assets\card4.jpg">
                        </div>
                        <div class="cardtext">
                            <div class="cardtextstep">Step 3:</div>
                            <div class="cardtexthead">
                                <h4>Sell/Rent faster with instant connect</h4>
                            </div>
                            <div class="cardtextpara"><small>Negotiate with your prostective Buyer/Tanent & mutually
                                    close the deal</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="loginpage">
                <div class="pagepadding">
                    <div class="page">
                        <div class="backlogin"><span class="material-symbols-outlined">
                                keyboard_backspace
                            </span>
                            <p> Go to <a href="#">Home Page</a></p>
                        </div>
                        <div class="headlogin">
                            <img src="\assets\tik.png">
                            <h2>Your Account Has Been seccessfully Varified.</h2>

                            <p>Thankyou for your support,</p>
                            <p>We have seccessfully verified your account,</p>
                            <p>You can now proceed to you home page.</p>
                        </div>
                        <div class="buttonlink">
                            <button type="button" class="button1">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>