<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

<div class="main">
    <div class="container">
     <div class="nav">
        <!-- <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar> -->
     </div> 
        <div class="container1"> 
            <div class="header"> 
                <div class="basic"></div> 
                <div class="property"></div> 
                <div class="locality"></div> 
                <div class="price"></div> 
                <div class="amenities"></div> 
                <div class="gallery"></div> 
                <div class="schedulle"></div> 
            </div> 
            <div class="section"> 
                <div class="detail"> 
                    <div class="information"></div> 
                    <div class="post"></div> 
                    <div class="categury"></div> 
                    <div class="option"></div> 

                </div> 
                <div class="card"> 
                    <div class="card1"> 
                        <div class="cardimg"></div> 
                        <div class="cardtext"></div> 
                    </div> 
                    <div class="card2"> 
                        <div class="cardimg"></div> 
                        <div class="cardtext"></div> 
                    </div> 
                    <div class="card3"> 
                        <div class="cardimg"></div> 
                        <div class="cardtext"></div> 
                    </div> 
    </div>
</div>